.features{
    max-width: 600px;
}

.features ul{
    display: flex;
    flex-direction: column;
    gap: 0;
    gap: 10px;
    margin-top: 1.5rem;
}

.features li{
    background-color: var(--secondary);
    padding: 1rem 4rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}




@media screen and (max-width: 786px){
    .features li{
        padding: 1rem;
    }
}

